 *{
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

#about-wec {
	background-image: url(werp-womenconf2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/*min-height: 100vh;*/
	border: 1px solid;
	background-attachment: fixed;
	color: #b4b4b4;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	padding-top: 5vh;
}

.heading {
	text-align: center;
	margin-top: 10vh;
	margin-bottom: 8vh;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 4rem;
}
.subheading {
	text-align: center;
	margin-bottom: 20vh;
}
.collapse-btn {
	border: 2px solid #b4b4b4 !important;
	border-radius: 5px !important;
	background-color: transparent;
	color: #b4b4b4;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding: 1.5vh 1vw !important;
	font-size: 1.3rem !important;
	margin-bottom: 2vh;
}
.collapse-btn:hover {
	background-color: #b4b4b4;
	color: initial;
}
.collapse-cards {
	background-color: #009999 !important;
	color: #eee !important;
	text-align: center;
	width: 40vw;
	font-size: 1.3rem !important;
}

#schedule {
	background-color: #001a1a;
	padding-top: 5vh;
	color: #b4b4b4
}
.sch-card-item {
	background-color: #b4b4b4!important;
	color: #001a1a;
}
.card {
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-left: 2vw;
	margin-right: 2vw;
}
.card-title {
	font-size: 3rem;
	text-align: center;
	padding-bottom: 2vh;
	margin-bottom:8vh !important;
	text-transform: uppercase;
	font-variant: small-caps;
}
.card-text {
	font-size: 1.9rem;
}
.text {
	font-size: 1.3rem;
	padding-bottom: 2vh;
	border-bottom: 1px solid !important;
}
.card-overlay {
	background-color: rgba(0, 0, 255, 0.7);
	height: 100%;
}
#speaker1 {
	background-image: url(sample-speaker.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
#speaker2 {
	background-image: url(sample-speaker.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
#speaker3 {
	background-image: url(sample-speaker.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
#speaker4 {
	background-image: url(sample-speaker.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
#about-werp {
	background-image: url(werp-india.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	
	border: 1px solid;
	background-attachment: fixed;
	color: white;
}
#werp-vision{
	/*background-image: url(werp-vision.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid;
	background-attachment: fixed;*/
	background-color: transparent;
	color: white;
}
#werp-obj{
	background-color: transparent;
	color: white;
}

@media screen and (max-width: 992px) {
	:root {
		font-size: 13px;
	}
	.sch-card-item {
		width: 45vw !important;
	}

}
@media screen and (max-width: 768px) {
	:root {
		font-size: 10px;
	}
	.sch-card-item {
		width: 50vw !important;
	}

}
@media screen and (max-width: 576px) {
	
	.speaker {
		width: 80vw !important;

	}
	.sch-card-item {
		width: 60vw !important;
	}
}