	

body { 
  margin: 0;
   font-family:'Source Serif Pro', georgia, sans-serif;
}
/* Interior Page Styles */


.sidebar2 {
	width: 70vw;
    margin-left: 28vw;
    margin-top: 0vw;
}
.sidebar {

    height: 20vw;
    margin-left: 1vw;
    margin-top: 0vw;
}

.sidehead {
  font-size: 3.75vw;
  font-weight: 900;
  letter-spacing: -0.05vw;
  line-height: normal;
  margin: 0 0 2vw 5.25vw;
  width: 19.5vw;
  padding-top: 2vw;
  color: #000000;
}

.sidehead2
{
	font-size: 3.00vw;
}

.sidetext2 {
	font-size: 2.00vw;
}
.clients4
{   
	text-align: center;
	height: 100px;
}

.sidetext {
  margin-left: 6.25vw;
  width: 19.5vw;
   color: #000000;
  font-size: 1.60vw;
}




 .projectdivider {
  font-family: 'Source Sans Pro', helvetica, arial;
  padding: 10px 10px 15px 10px;
  float: left;
  font-size: 12px;
  background-color: #008080;
}


.fullwidth img {
  width: 50%;
  margin-top: 0px;
}

.fullwidth {
  width: 70vw;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}



a.button {
    background-color: #008080;
  box-shadow: 0 5px 0 ;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none; 
  border: 1px solid  #008080;
    border-radius: 20px;
}

a.button:hover {
  background-color: #174A42;
}

a.button:active {
  box-shadow: none;
  top: 5px;
}

a.button2 {
	 top: 30%;
    left:71%;
    background-color: #008080;
  box-shadow: 0 5px 0 ;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none; 
  border: 1px solid  #008080;
    border-radius: 20px;

}


a.button2:hover {
  background-color: #174A42;
}

a.button2:active {
  box-shadow: none;
  top: 90px;
}

li
{
    text-decoration: none;
    color: #3578A3;
    text-align: center;
     list-style: none;

}
.centered {
	color: black;
	font-weight: bold;
	font-size: 36px;
    position: absolute;
    top: 35%;
    left: 19%;
    transform: translate(-50%, -50%);
}
.centered2 {
	color: black;
	font-weight: bold;
	font-size: 16px;
    position: absolute;
    top: 53%;
    left: 25.5%;
    transform: translate(-50%, -50%);
}
.centered3 {
	color: black;
	font-weight: bold;
	font-size: 40px;
	text-align: left;
}
 h1{
 	text-align: center;
 	padding-right: 20px;
 }

h2{
 	text-align: center;
 	color: #000000;
	font-weight: bold;
	font-size: 40px;
	}
	
	.par2
	{
	
	font-weight: bold;
	text-align: center;
    
	}
	.par3
	{
	
	font-weight: bold;
	text-align: center;
    
	}

.centered4 {
    position: absolute;
    top: 230%;
    left: 50%;
    color: black;
	font-weight: bold;
	font-size: 40px;
    transform: translate(-50%, -50%);
}
.centered5{
   
    position: absolute;
    top: 278%;
    left: 85%;
    color: black;
    line-height: 55px;
	font-weight: bold;
	font-size: 40px;
    transform: translate(-50%, -50%);
   }
.centered6{
   
    position: absolute;
    top: 950%;
    left: 80%;
    color: black;
    line-height: 45px;
	font-weight: bold;
	font-size: 35px;
    transform: translate(-50%, -50%);
    
}


.spanz {
color:#008080 ;

    }
.spanz3 {
color:#008080 ;
    }
.spanz4 {
color:#008080 ;
}
hr {
  color: #008080 ;
  display: block;
    height: 0px;
    border: 0;
    border-top: 7px solid #008080;
    margin: 0em 0;
    padding: 0; ;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 20px;
  
}


#sec1{
  width: 19.5%;
   height: 477px;
    padding-right:  2px;
  display:block;
  float:left; }
#sec2{
 width: 68%;
 height: 575px;
  display:inline-block;
  float:right; }
#sec1 {
padding : 25px 50px 75px 100px;
background-color: 008080  ; 
background-repeat:no-repeat;
background-size:cover;
}

#sec2 {
	background-image: url("4.png"); 
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #FBFCFC  ; 
}


.parallax {
    /* The image used */
    background-image: url('werpwoman2.jpg');

    /* Full height */
    height: 100%; 
    background-color: #518B82;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    /* The image used */
    background-image: url('werpwoman.jpg');

    /* Full height */
    height: 100%; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Full-width input fields */
input[type=text], input[type=email]  
{
    width: 20%;
    padding: 15px 0px 15px 10px;
    margin: 0px 0 10px 5px;
    margin-right: 1%;
    border: none; 
    background-color:#D8E9F3  ;
    color: #000000; 
    border: 1px ;
    border-radius: 8px;
}

label {
	 padding: 10px 0px 10px 0px;
    margin: 0px 0 10px 8px;

}

fieldset 
{
    width: 50%;
	border: 2px solid  #008080;
    border-radius: 8px;
}
fieldset {
    position: absolute;
    top: 85%;
    left: 32%;
    transform: translate(-50%, -50%);
}
 form #placeholder{
  text-decoration-color: #ffffff;
  color: white;
}




/* Set a style for all buttons */
button {
    background-color:  white;  ;
    color: white;
    padding: 12px 32px;
    margin: 3px 3px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */

.signupbtn {
  color: white;
  background-color: #008080;
  border: 1px solid  #008080;
    border-radius: 8px;
}

/* Float cancel and signup buttons and add an equal width */
 .signupbtn {
  float: left;
  width: 20%;
}


/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}





.header {
  overflow: hidden;
  text-decoration-color: #ffffff;
  background-color:#ffffff;
 

  }

.logo{
	 color: #008080;
	 font-size: 30px;
  font-weight: bold;
}


.header a:hover {
 
  color: #008080;
}

.header a.active {
    color: white;
}

.header-right {
  float: right;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.container img {
  float: left;
  margin-right: 2px;
  border-radius: 50%;
}


.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  
}



.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 1.7rem;
      color: #2196F3;
}
.slider__caption {
	font-size: 25px;
  font-weight: 300;
  margin: 1rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

.testimonial

{
	border-radius: 60%;
}


ul {
  width: 9.6875vw;
  float: center;
  line-height: 20px!important;
  font-family: 'Source Code Pro', monaco, monospace;
  font-size: 13px !important;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: solid #383838;
  text-decoration: none;
}


a.new{
  text-decoration: none;
  color: #174A42;
}

a.new:hover {
  -webkit-transition: color .35s;
  color:#48C9B0;
}

